<div class="form-group">
    {{#if label}}
        <label {{bind-attr for=label}}>{{label}}</label>
    {{/if}}
    {{input type=type value=value id=label class="form-control" placeholder=placeholder}}
</div>
